.width-50 {
	width: 50% !important;
}

.width-100 {
	width: 100% !important;
}

.width-auto {
	width: auto !important;
}

.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block !important;
}

.f-left {
	float: left !important;
}

.f-right {
	float: right !important;
}

.f-none {
	float: none !important;
}

.m-top {
	margin-top: 20px !important;
}

.m-bottom {
	margin-bottom: 20px !important;
}

.pointer-events-none {
	pointer-events: none !important;
}

.hide {
	display: none !important;
}

.txt-right {
	text-align: right !important;
}

.txt-center {
	text-align: center !important;
}
