<!doctype html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="author" href="http://freemusicarchive.org/">
	<link rel="shortcut icon" href="https://freemusicarchive.blob.core.windows.net/img/generic/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/rss+xml" title="Free Music Archive Blog"
		href="http://138.197.106.55/index.php/blog.atom">
	<script language="javascript" type="text/javascript"
		src="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/js/fma.min.js"></script>
	<link rel="stylesheet" type="text/css" media="screen"
		href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/css/fma.css">
	<link rel="stylesheet" type="text/css" media="screen"
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Free Music Archive</title>

	<style>
		.fma-logo {
			width: 190px !important;
		}

		.mhd-main {
			font-size: 14px !important;
		}

		#fma-menubox {
			width: 766px !important;
		}

		#fma-title {
			width: 460px;
		}

		#fma-menu {
			width: 766px !important;
		}
	</style>
	{{#block "head"}}{{/block}}
	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="./<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>
</head>

<body class="{{bodyclass}}">
	<div style="position:relative;top:0;width:100%;background-color:#EEE;">
		<p style="padding:5px;text-align:center;">
			Music Community <a href="https://www.tribeofnoise.com/" style="text-decoration:underline;">Tribe of Noise</a>
			Acquired Free Music Archive.
			Follow <a href="https://twitter.com/freemusicarchiv" style="text-decoration:underline;">@freemusicarchiv</a> for
			updates.
		</p>
	</div>
	<div id="container">
		<div id="header">
			<a href="http://138.197.106.55/index.php/" class="fma-logo"><img
					src="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/fma-smaller.jpg" /></a>
			<div id="fma-menubox">
				<div id="fma-menusearch">
					<form class="fmasearch" name="fmasearch" action="/search/" method="get">
						<input type="hidden" name="sort" value="track_date_published">
						<input type="hidden" name="d" value="1">
						<div class="inpwrap">
							<input type="text" class="quicksearch" id="quicksearch" name="quicksearch" size="20" value="" />
						</div>
						<a href="http://www.google.com/search?site=&amp;hl=en&amp;q=site%3Ahttp://138.197.106.55/index.php/"
							id="site-search" class="btn-searchgo" target="_blank"></a>
					</form>
				</div>
				<div id="fma-menusearchdrop">
					<div class="searchdrop-hd"><a href="#" class="btn-searchdrop"></a></div>
					<div class="searchdrop-box">
						<div class="searchdrop-mid">
							<!--<a href="#" onclick="$('.fmasearch').submit();">Search Music</a>
								<a href="#" onclick="$('.fmasearch').attr('action', ('/search/'.search('blog') == -1 ? '/search/blog/' : '/search/'));$('.fmasearch').submit();">Search Blogs</a>-->
							<a href="http://www.google.com/search?site=&amp;hl=en&amp;q=site%3Ahttp://138.197.106.55/index.php/"
								id="site-search" class="search-last" target="_blank">Site Search</a>
						</div>
						<div class="searchdrop-bot"></div>
					</div>
				</div>
				<div id="fma-title">
					<a href="http://138.197.106.55/index.php/">Free Music Archive</a>&nbsp;
					<span id="social-icons" style="float:right"><a href="http://www.facebook.com/freemusicarchive"
							title="Follow us on Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a> <a
							href="http://twitter.com/freemusicarchiv" title="Follow us on Twitter" target="_blank"><i
								class="fa fa-twitter-square"></i></a></span>
				</div>
				<div id="fma-menu">
					<div class="menu-link menu-link-bycurator">
						<div class="mhd-main"><span class="mhd-nosep">Curators</span></div>
						<div class="menu-links">
							<a href="http://138.197.106.55/index.php/curator/WFMU/">WFMU</a>
							<a href="http://138.197.106.55/index.php/curator/Video/">Music for Video</a>
							<a href="http://138.197.106.55/index.php/curator/CCcommunity/">ccCommunity</a>
							<a href="http://138.197.106.55/index.php/curator/Golden_Festival/">Golden Festival</a>
							<a href="http://138.197.106.55/index.php/label/Murmure_Intemporel/">Murmure Intempo&#8230;</a>
							<a href="http://138.197.106.55/index.php/curator/blocSonic/">blocSonic</a>
							<a href="http://138.197.106.55/index.php/curator/Oddio_Overplay/">Oddio Overplay</a>
							<a href="http://138.197.106.55/index.php/label/Vulpiano_Records_1315/">Vulpiano Record&#8230;</a>
							<a href="http://138.197.106.55/index.php/curator/ccMixter/">ccMixter</a>
							<a href="http://138.197.106.55/index.php/label/DinuraCreations/">DinuraCreations</a>
							<a href="http://138.197.106.55/index.php/label/MassDist/">Mass Dist</a>
							<a href="http://138.197.106.55/index.php/curator/Ziklibrenbib/">Ziklibrenbib</a>
							<a href="http://138.197.106.55/index.php/curator/Commune_Oreille/">Commune Oreille</a>
							<a href="http://138.197.106.55/index.php/curator/West_Cortez_Records/">West Cortez Rec&#8230;</a>
							<a href="http://138.197.106.55/index.php/label/Fonogramas_America_Afroindigena/">Fonogramas Amé&#8230;</a>
							<a class="more-curators" href="http://138.197.106.55/index.php/curator/all">More</a>
						</div>
					</div>
					<div class="menu-link menu-link-bygenre">
						<div class="mhd-main"><span class="mhd-lsep">Genres</span></div>
						<div class="menu-links">
							<a href="http://138.197.106.55/index.php/genre/Blues/" style="background-color: #000099">Blues</a>
							<a href="http://138.197.106.55/index.php/genre/Classical/" style="background-color: #8A8A65">Classical</a>
							<a href="http://138.197.106.55/index.php/genre/Country/" style="background-color: #663366">Country</a>
							<a href="http://138.197.106.55/index.php/genre/Electronic/"
								style="background-color: #FF6600">Electronic</a>
							<a href="http://138.197.106.55/index.php/genre/Experimental/"
								style="background-color: #dddd00">Experimental</a>
							<a href="http://138.197.106.55/index.php/genre/Folk/" style="background-color: #5E6D3F">Folk</a>
							<a href="http://138.197.106.55/index.php/genre/Hip-Hop/" style="background-color: #CC0000">Hip-Hop</a>
							<a href="http://138.197.106.55/index.php/genre/Instrumental/"
								style="background-color: #000000">Instrumental</a>
							<a href="http://138.197.106.55/index.php/genre/International/"
								style="background-color: #CC3300">International</a>
							<a href="http://138.197.106.55/index.php/genre/Jazz/" style="background-color: #990099">Jazz</a>
							<a href="http://138.197.106.55/index.php/genre/novelty/" style="background-color: #4D0000">Novelty</a>
							<a href="http://138.197.106.55/index.php/genre/Old-Time__Historic/"
								style="background-color: #665666">Old-Time
								/ Historic</a>
							<a href="http://138.197.106.55/index.php/genre/Pop/" style="background-color: #009900">Pop</a>
							<a href="http://138.197.106.55/index.php/genre/Rock/" style="background-color: #840000">Rock</a>
							<a href="http://138.197.106.55/index.php/genre/Soul-RB/" style="background-color: #330033">Soul-RnB</a>
							<a href="http://138.197.106.55/index.php/genre/Spoken/" style="background-color: #006699">Spoken</a>
							<div class="cf"></div>
						</div>
					</div>
					<div class="menu-link">
						<div class="mhd-main"><span class="mhd-lsep">Charts</span></div>
						<div class="menu-links">
							<a href="http://138.197.106.55/index.php/music/charts/this-week">Past Week</a>
							<a href="http://138.197.106.55/index.php/music/charts/this-month">Past Month</a>
							<a href="http://138.197.106.55/index.php/music/charts/all">All Time</a>
						</div>
					</div>
					<div class="menu-link menu-link-what">
						<div class="mhd-main"><span class="mhd-lsep">About</span></div>
						<div class="menu-links">
							<a href="http://138.197.106.55/index.php/about">About</a>
							<a href="http://138.197.106.55/index.php/faq">General FAQ</a>
							<a href="http://138.197.106.55/index.php/License_Guide">License Guide</a>
							<a href="http://138.197.106.55/index.php/FAQ_For_Educators">FAQ for Educators</a>
							<a href="http://138.197.106.55/index.php/Help">Help</a>
							<a href="http://138.197.106.55/index.php/Contact">Contact</a>
						</div>
					</div>
					<div class="menu-link menu-link-what">
						<div class="mhd-main"><span class="mhd-lsep">For Musicians</span></div>
						<div class="menu-links">
							<a href="https://artist.tribeofnoise.com/fma">FMA + Tribe of Noise</a>
							<a href="http://138.197.106.55/index.php/FAQ_For_Musicians">FAQ for Musicians</a>
						</div>
					</div>
					<div class="menu-link">
						<div class="mhd-main"><span class="mhd-lsep">For Filmmakers</span></div>
						<div class="menu-links">
							<a href="https://pro.tribeofnoise.com/fma">FMA + Tribe of Noise</a>
							<a href="http://138.197.106.55/index.php/FAQ_For_Videos">FAQ for Filmmakers</a>
						</div>
					</div>
					<div class="cf"></div>
				</div>
			</div>
			<div class="cf"></div>
			{{> partials/headerSearch}}
		</div>
		<div class="cf"></div>
		<div id="header-bottom"></div>
		<div id="content">
			<div class="bcrumb">
				<h1>Search Results: 124372 Tracks Found!</h1>
			</div>
			<div class="colset-c">
				<div class="col-r">
					<div class="box-stnd-10pad-20marg play-lrg-list">
						<h4 class="wline"><span class="hd">Search Results</span></h4>
						<select name="sort" style="float: right; margin: -5px 0 0 0;" id="genre-sort">
							<option value="">Sort By</option>
							<option value="http://138.197.106.55/index.php/search?sort=track_date_published" selected>Date Added
							</option>
							<option value="http://138.197.106.55/index.php/search?sort=track_interest">Most Interesting</option>
						</select>

						<script type="text/javascript">
							$('#genre-sort').change(
								function () {
									if ($(this).val().length) {
										window.location.href = $(this).val();
									}
								}
							);
						</script>

						<div class="cf"></div>
						<div class="play-sorthd">
							<span class="ptxt-play">&nbsp;</span>
							<span class="ptxt-artist"><a href="http://138.197.106.55/index.php/search?sort=artist_name"
									class="sortarr-up"></a><b>Artist</b></span>
							<span class="ptxt-track"><a href="http://138.197.106.55/index.php/search?sort=track_title"
									class="sortarr-up"></a><b>Track</b></span>
							<span class="ptxt-album"><a href="http://138.197.106.55/index.php/search?sort=album_title"
									class="sortarr-up"></a><b>Album</b></span>
							<span class="ptxt-genre"><b>Genre</b></span>
						</div>


						<div class="playlist playlist-lrg">
							<div class="play-item gcol gid-electronic tid-191801">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Shipping_Lanes">Shipping
											Lanes</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Shipping_Lanes.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191799">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Negentropy">Negentropy</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Negentropy.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191800">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Organisms">Organisms</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Organisms.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191797">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Illustrated_Novel">Illustrated
											Novel</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Illustrated_Novel.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191798">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Moonrise">Moonrise</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Moonrise.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191795">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Algorithms">Algorithms</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Algorithms.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191796">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/">Chad Crouch</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps/Elipsis">Elipsis</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Chad_Crouch/Arps">Arps</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Electronic/">Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/ccCommunity/Chad_Crouch/Arps/Chad_Crouch_-_Elipsis.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191793">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Slow_Vibing">Slow
											Vibing</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_11_-_Slow_Vibing.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191794">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Green_Man">Green Man</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_12_-_Green_Man.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191791">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Seeing_You_Again">Seeing You
											Again</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_02_-_Seeing_You_Again.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191792">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/The_Stork">The Stork</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_07_-_The_Stork.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191789">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Mission_Ready">Mission
											Ready</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_13_-_Mission_Ready.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191790">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Multiverse">Multiverse</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequency/Ketsa_-_08_-_Multiverse.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191787">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Life_Illusion">Life
											Illusion</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_09_-_Life_Illusion.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
							<div class="play-item gcol gid-electronic tid-191788">
								<span class="doplay"><a href="#" class="playbtn"></a></span>
								<div class="playtxt">
									<span class="ptxt-artist">
										<a href="http://138.197.106.55/index.php/music/Ketsa/">Ketsa</a>
									</span>
									<span class="ptxt-track"><a
											href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy/Memories_Renewed">Memories
											Renewed</a></span>
									<span class="ptxt-album">
										<a href="http://138.197.106.55/index.php/music/Ketsa/Raising_Frequecy">Raising Frequency</a>
									</span>
									<span class="ptxt-genre">
										<a href="http://138.197.106.55/index.php/genre/Soundtrack/">Soundtrack</a>, <a
											href="http://138.197.106.55/index.php/genre/Ambient_Electronic/">Ambient Electronic</a>, <a
											href="http://138.197.106.55/index.php/genre/Downtempo/">Downtempo</a>, <a
											href="http://138.197.106.55/index.php/genre/Instrumental/">Instrumental</a> </span>
								</div>
								<span class="playicn">
									<a href="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/music/Creative_Commons/Ketsa/Raising_Frequecy/Ketsa_-_10_-_Memories_Renewed.mp3"
										class="icn-arrow" title="Download"></a>
									<!-- <a href="#" class="icn-plus" title="Add to Player"></a> -->

								</span>
							</div>
						</div>
					</div>

					<script type="text/javascript" charset="utf-8">
						$(document).ready(function () {
							$('.per_page').change(function () {
								window.location = 'http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=1&per_page=' + $(this).val();
							})
						});
					</script>

					<div class="pagination-full">
						<span class="lf"><b>1</b>-<b>15</b> of <b>124372</b></span>
						<span class="lf" style="margin-left: 10px">Per Page: <select class="per_page">
								<option value="15" selected="selected">15</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
								<option value="200">200</option>
							</select>
						</span>
						<b>
							01&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=2">02</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=3">03</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=4">04</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=5">05</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=6">06</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=7">07</a>&nbsp;&nbsp;/&nbsp;&nbsp;&#8230;&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=8292">8292</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a
								href="http://138.197.106.55/index.php/search?sort=track_date_published&d=1&page=2">NEXT&nbsp;&raquo;</a>
						</b>
					</div>
				</div>

				<div class="cf"></div>

			</div>
		</div>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" />

		<style>
			.footer-line-break {
				display: block;
				height: 1px;
				border: 0;
				border-top: 1px solid #fff;
				margin: 1em 0;
				padding: 0;
			}

			.footer-header {
				font-family: 'Lato', sans-serif;
				color: #fff;
			}

			.footer-text {
				color: #808291 !important;
			}

			a.footer-link {

				font-family: 'Lato', sans-serif;
				font-weight: 400;
				font-size: 14px;
				text-decoration: none !important;
				color: #808291 !important;

			}

			ul.footer-links {
				list-style: none;
				text-align: left;
			}

			li.footer-links {
				text-align: left;
			}

			.btn {
				border-radius: 3em;
				-moz-border-radius: 3em;
				-webkit-border-radius: 3em;
				white-space: normal;
				letter-spacing: 0.5px;

				background-color: #23D2B9;
				border: 0.25rem solid #23D2B9;
				color: #F6F9FC;
				font-weight: 300;
				padding: 4px;
				cursor: pointer;
			}

			.col-sm-2 {
				float: left;
				width: 16.6666666667%;
				margin-left: 5px;
			}

			.col-sm-4 {
				float: left;
				width: 25%;
				margin-left: 15px;
			}

			.social-buttons {
				font-size: 2em;
				text-align: center;
				display: flex;
			}

			a.text-yellow {
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				font-size: 14px;
				text-decoration: none !important;
				color: #fbd552 !important;
			}
		</style>
		<div id="footer" class="" align=center>
			<div style="width: 50px; height: auto; margin: auto;">
				<img style="width: 50px;"
					src="https://freemusicarchive.blob.core.windows.net/storage-freemusicarchive-org/fma-footer.png" />
			</div>
			<p class="copyr" style="margin-top: 4px;">The Free Music Archive offers free downloads under Creative Commons and
				other licenses.<br />We also offer a very large repository of <a
					href="/music/Happy_Birthday_Song_Contest/The_New_Birthday_Song_Contest/">free birthday songs</a>&nbsp;you can
				use in your projects.</p>
			<a href="http://138.197.106.55/index.php/Contact">CONTACT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="http://138.197.106.55/index.php/Help">HELP</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="http://138.197.106.55/index.php/Terms_of_Use">TERMS OF USE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="http://138.197.106.55/index.php/Privacy_Policy">PRIVACY POLICY</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="http://138.197.106.55/index.php/faq">FAQ</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="http://138.197.106.55/index.php/music/">LIST OF ARTISTS</a>
			<div style="clear: both;margin:23px 20px;border-bottom:1px solid white;"></div>
			<p class="copyr" style="margin-top: 4px;">
				2019-09-18 Global Music Community Tribe of Noise Acquired Free Music Archive<br>
				Contact <a href="https://www.tribeofnoise.com/">Tribe of Noise</a>? &nbsp; <a
					href="mailto:info@tribeofnoise.com">info@tribeofnoise.com</a> or +31 20 775 44 11
			</p>
			<br />
			<br />
		</div>
	</div>
</body>

{{#block "scripts"}}{{/block}}

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="./<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<% if (htmlWebpackPlugin.options.devServer) { %>
<script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
<% } %>

</html>