<section class="header-search">
	<div class="header-search-flex">
		<!-- Name Search -->
		<div class="header-name-search-container">
			<input type="text" placeholder="Search" id="main-search" class="header-name-search-input f-left">
			<button class="header-name-search-button js-search-execute">
				<i class="fa fa-search"></i>
			</button>
		</div>
		<!--// Name Search -->
		<div class="header-other-filters-container">
			<!-- License Filter -->
			<div class="js-dropdown dropdown header-search-filter-container">
				<button class="js-dropdown-toggle header-search-filter-button">
					<div class="header-search-filter-button-txt">License</div>
					<i class="fa fa-creative-commons header-search-filter-button-icon"></i>
				</button>
				<div class="dropdown-content js-license">
					<div class="header-license-column d-inline-block f-left">
						<p class="m-bottom">Usage:</p>
						<fieldset id="license-type">
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-public-domain" name="license-type">
								<label for="music-filter-public-domain">Public Domain</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-commercial-allowed" name="license-type">
								<label for="music-filter-commercial-allowed">Commercial Use</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-remix-allowed" name="license-type">
								<label for="music-filter-remix-allowed">Use in a Remix or Video</label>
							</div>
						</fieldset>
						<div class="ton-pro-logo">
							<p>
								Do you need royality-free music?
							</p>
							<p>
								Go to <a href="https://prosearch.tribeofnoise.com/" target="_blank">Tribe of Noise PRO</a>
							</p>
							<a href="https://prosearch.tribeofnoise.com/" target="_blank" class="m-top d-block">
								<img src="./img/ton-pro-logo.png" alt="Ton Pro Logo">
							</a>
						</div>
					</div>
					<div class="header-license-column d-inline-block f-left">
						<p class="m-bottom">Include CC license:</p>
						<fieldset id="license-cc">
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-only" name="cc-by">
								<label for="music-filter-CC-attribution-only">CC BY</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-sharealike" name="cc-by">
								<label for="music-filter-CC-attribution-sharealike">CC BY SA</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-noderivatives" name="cc-by">
								<label for="music-filter-CC-attribution-noderivatives">CC BY ND</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-noncommercial" name="cc-by">
								<label for="music-filter-CC-attribution-noncommercial">CC BY NC</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-noncommercial-sharealike" name="cc-by">
								<label for="music-filter-CC-attribution-noncommercial-sharealike">CC BY NC SA</label>
							</div>
							<div class="header-input-container">
								<input type="checkbox" id="music-filter-CC-attribution-noncommercial-noderivatives" name="cc-by">
								<label for="music-filter-CC-attribution-noncommercial-noderivatives">CC BY NC ND</label>
							</div>
						</fieldset>
						<a href="https://www.freemusicarchive.org/License_Guide" target="_blank" class="m-top d-block">CC License
							Guide</a>
					</div>
				</div>
			</div>
			<!--// License Filter -->
			<!-- Instrumental Filter -->
			<div class="header-search-filter-container">
				<button class="header-search-filter-button header-search-switch js-instrumental-switch">
					<div class="header-search-switch-split pointer-events-none">All</div>
					<div class="header-icon header-search-filter-button-icon f-right d-inline-block">
						<img src="./img/icon-instrumental.png" alt="Icon Instrumental Only Filter">
					</div>
				</button>
			</div>
			<!--// Instrumental Filter -->
			<!-- Genre Filter -->
			<div class="js-dropdown dropdown header-search-filter-container">
				<button class="js-dropdown-toggle header-search-filter-button">
					<div class="header-search-filter-button-txt">Genre</div>
					<i class="fa fa-music header-search-filter-button-icon"></i>
				</button>
				<div class="dropdown-content">
					<div class="header-search-genres js-genres">
						<div class="js-genre header-search-genre">Blues</div>
						<div class="js-genre header-search-genre">Electronic</div>
						<div class="js-genre header-search-genre">Hip-Hop</div>
						<div class="js-genre header-search-genre">Jazz</div>
						<div class="js-genre header-search-genre">Rock</div>
						<div class="js-genre header-search-genre">Classical</div>
						<div class="js-genre header-search-genre">Experimental</div>
						<div class="js-genre header-search-genre">Instrumental</div>
						<div class="js-genre header-search-genre">Old-Time/Historic</div>
						<div class="js-genre header-search-genre">Soul-RnB</div>
						<div class="js-genre header-search-genre">Country</div>
						<div class="js-genre header-search-genre">Folk</div>
						<div class="js-genre header-search-genre">International</div>
						<div class="js-genre header-search-genre">Pop</div>
						<div class="js-genre header-search-genre">Spoken</div>
						<div class="cf"></div>
					</div>
					<div class="cf"></div>
					<input type="text" readonly value="" class="header-search-genre-input js-header-search-genre-input">
					<div class="header-search-controls">
						<div class="header-search-controls-btn-container">
							<button type="button" class="js-toggle-all-genres js-select-all-genres">Select All</button>
						</div>
						<div class="header-search-controls-btn-container txt-center">
							<button type="button" class="js-toggle-all-genres js-deselect-all-genres">Deselect All</button>
						</div>
						<div class="header-search-controls-btn-container txt-right">
							<button type="button" class="js-close-dropdowns"><strong>Ok</strong></button>
						</div>
						<div class="cf"></div>
					</div>
				</div>
			</div>
			<!--// Genre Filter -->
			<!-- More Filter -->
			<div class="js-dropdown dropdown header-search-filter-container header-search-filter-more">
				<button class="js-dropdown-toggle header-search-filter-button">
					<div class="header-search-filter-button-txt">More</div>
					<i class="header-icon header-search-filter-button-icon">
						<img src="./img/icon-more.png" alt="Icon More Filters">
					</i>
				</button>
				<div class="dropdown-content">
					<p class="m-bottom m-top">Duration (minutes)</p>
					<div class="slider-duration-container">
						<input id="slider-duration" type="text" />
					</div>
					<p class="m-bottom m-top">Tempo</p>
					<div class="slider-tempo-container">
						<input id="slider-tempo" type="text" />
					</div>
					<div class="header-search-controls">
						<button type="button" class="js-close-dropdowns width-auto f-right">
							<strong>Ok</strong>
						</button>
						<div class="cf"></div>
					</div>
				</div>
			</div>
			<!--// More Filter -->
		</div>
	</div>
	<div class="filter-labels js-filter-labels"></div>
	<div class="cf"></div>
	<div class="m-top js-labels-controls hide">
		<a href="#"  class="js-clear-search">Clear Custom Search</a> |
		<a href="#" class="js-bookmark-search">Bookmark Custom Search</a>
	</div>
</section>