.dropdown-content {
	display: none;
	position: absolute;
	background-color: #7f7f7f;
	padding: 20px;
	z-index: 999;
	border: 1px solid #ccc;
}

.dropdown-content * {
	color: #fff;
	line-height: 1;
}

.dropdown--is-active .dropdown-content {
	display: block;
}
