.header-search {
  padding: 20px;
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-search-flex {
  @media (min-width: 1001px) {
    display: flex;
  }
}

.header-search * {
  box-sizing: border-box;
}

.header-search button {
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-search a {
  text-decoration: underline;
}

.header-search input {
  vertical-align: middle;
  margin: 0;
}

.header-search label {
  float: none;
  width: inherit;
  margin-left: 5px;
  vertical-align: middle;
  font-weight: 400;
}

.header-search-filter-container,
.header-name-search-container,
.header-other-filters-container {
  float: left;
}

.header-search-filter-container {
  &:not(:first-of-type) {
    padding-left: 20px;
  }

  @media (max-width: 550px) {
    width: $third;

    &:last-of-type {
      padding-left: 0;
    }
  }

  @media (min-width: 1001px) {
    width: auto;
  }
}

.header-search-filter-more {
  @media (max-width: 550px) {
    width: 100%;
    margin-top: 10px;
  }
}

.header-name-search-container {
  width: 100%;
  margin-bottom: 10px;
}

.header-name-search-container {
  @media (min-width: 1001px) {
    padding-right: 20px;
    flex-grow: 100;
    max-width: 300px;
    margin-bottom: 0;
  }
}

.header-other-filters-container {
  position: relative;
  width: 100%;

  @media (min-width: 1001px) {
    width: auto;
  }
}

.header-search input[type="text"],
.header-name-search-button,
.header-search-filter-button,
.header-search-switch {
  height: $switch-size !important;
}

.header-search input[type="text"] {
  padding: 10px;
  margin: 0;
}

.header-name-search-input {
  width: calc(100% - 20px - 1rem - 1px);
}

.header-name-search-button,
.header-search-filter-button {
  outline: 0;
  background-color: $white;
  border: 1px solid $gray;
  line-height: 1;
  vertical-align: middle;
}

.header-name-search-button {
  padding: 10px;
  float: left;
  border-left: none;
}

.header-search-filter-button {
  width: 100%;
  color: $gray;
  text-align: center;

  @media (min-width: 551px) {
    text-align: left;
  }

  .fa {
    font-size: 20px;
    padding: 6px;
  }
}

.header-search-switch {
  padding: 0;
  height: $switch-size !important;
  text-align: center;

  @media (min-width: 551px) {
    width: 70px;
    box-sizing: content-box;
  }
}

.header-search-switch-split {
  padding: 0;
  width: 50%;
  float: left;
  height: 100%;
  line-height: $switch-size;

  &.fa {
    line-height: 1;
    float: left;
  }
}

.header-search-switch:not(.header-search-switch--is-active) .header-search-switch-split {
  background-color: $gray;
  color: $black;

  &:last-child {
    background-color: $white;
    color: $gray;
  }
}

.header-search-switch--is-active .header-search-filter-button-icon {
  background-color: $gray;
  color: $black;

  img {
    opacity: 1;
  }
}

.header-search-switch .header-search-filter-button-icon {
  width: 50%;
  height: 100%;
}

.header-search-filter-button-txt {
  padding: 10px;
  display: none;

  @media (min-width: 551px) {
    display: inline-block;
    float: left;
  }
}

.header-search-filter-button-icon {
  pointer-events: none;

  @media (min-width: 551px) {
    float: right;
  }
}

.dropdown--is-active .header-search-filter-button {
  background-color: $gray;
  color: $black;
}

.dropdown--is-active .header-search-filter-button img {
  opacity: 1;
}

.header-search .dropdown-content {
  margin-top: 10px;
  left: 0;
  right: 0;
}

.header-search-filter-button.js-dropdown-toggle {
  @media (min-width: 551px) {
    min-width: 120px;
  }
}

.header-search fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.header-input-container {
  margin-bottom: 15px;
  user-select: none;
}

.header-search-genres {
  margin-bottom: 15px;
  font-weight: 400;
}

.header-search-genre {
  user-select: none;
  margin-bottom: 15px;
  cursor: pointer;

  /// Large
  width: $third;
  display: block;
  float: left;

  &--is-selected {
    text-decoration: underline;
  }

  @media (max-width: 500px) {
    width: 50%;
  }
}

.header-search-controls {
  margin-top: 20px;
}

.header-search-controls-btn-container {
  float: left;
  width: $third;
}

.header-search-controls button,
.header-search-controls button *,
.header-search input {
  color: $gray-dark;
}

.header-search-genre-input {
  width: 100%;
}

.header-search-controls button {
  width: calc(100% - 10px);
}

.header-search-controls button {
  padding: 10px;
  background-color: $white;
  outline: none;
  border: solid 1px $gray;
  color: $gray-dark;
}

@media (min-width: 501px) {
  .header-license-column {
    width: 50%;
	}
	
	.ton-pro-logo {
		position: absolute;
		bottom: 20px;
		width: 50%;
	}
}

.ton-pro-logo {
  img {
    width: 100px;
  }

  p {
    line-height: 1.5;
    font-size: 12px;
  }
}

.header-search {
  .slider {
    width: calc(100% - 60px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .slider-track-high,
  .slider-selection.tick-slider-selection,
  .slider-tick.in-selection,
  .slider .slider-handle {
    background-color: $white;
    background-image: none;
  }

  .slider-tempo-container .slider-tick {
    margin-top: 2px;
    width: 10px;
    height: 10px;
    margin-left: -4px;
    border: 1px solid $white;
    background-color: $gray;
  }

  .slider-tempo-container .slider-tick.in-selection {
    background-color: $gray;
  }

  .slider-duration-container .slider-tick {
    border-radius: 0;
    width: 2px;
    height: 20px;
    margin-top: -4px;
    margin-left: -2px;
  }

  .slider .slider-handle {
    margin-left: -15px;
    margin-top: -9px;
    width: 30px;
    height: 30px;
  }

  .slider.slider-horizontal .slider-track {
    height: 2px;
  }
}

.header-icon {
  padding-top: 6px;
}

.header-icon img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.filter-label {
  border: 1px solid $black;
  padding: 5px 20px 5px 10px;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  float: left;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.filter-label-close {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
