/*
 * Styles added to override main css file styles to make it responsive
*/
.colset-c {
  width: 100%;
}

.colset-c .col-r {
  width: 100%;
}

#header {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.colset-c .play-item .playtxt {
  width: auto;
}

#footer,
.playicn {
  width: auto;
}

.colset-c {
  box-sizing: border-box;
}

#fma-menubox {
  height: 94px;
}

.header-search .fma-checkbox,
.header-search .f_checked,
.header-search .f_unchecked {
  width: 15px;
}

.f_disabled {
	opacity: 0.2;
}

.header-search .fma-radio {
  margin: 0 3px 0 0;
}

.header-search .fma-radio .f_unselected,
.header-search .fma-radio .f_selected {
  border-radius: 15px;
}

@media (max-width: 1020px) {
  #content,
  #header,
  #container {
    width: 100%;
  }

  #header {
    padding-top: 20px;
    width: 100%;
  }

  #fma-menubox {
    display: none;
  }

  .fma-logo {
    margin: 0 auto;
    margin-top: 20px;
    float: none;
	}
	.playlist-lrg .playicn {
		width: 50px;
	}
}

@media (max-width: 700px) {
	.ptxt-genre {
		display: none;
	}

	.playlist-lrg .playicn {
		width: 25px;
	}

	.colset-c .ptxt-track,
	.colset-c .ptxt-artist {
		width: 100px;
	}

	.pagination-full {
		font-size: 12px;
		line-height: 2;
	}
}

@media (max-width: 520px) {
	.ptxt-album {
		display: none;
	}
}

@media (max-width: 400px) {
	.colset-c .ptxt-track,
	.colset-c .ptxt-artist {
		width: 74px;
	}
}
